* {
    box-sizing: border-box;
}

body {
    padding: 0;
}

#wrapper {
    max-width: 1024px;
    margin: 0 auto;
    padding: 10px;
}

input, textarea {
    line-height: 30px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #258ca2;
}

input[type=text], textarea {
    display: block;
    width: 100%;
}

textarea {
    line-height: normal;
}

.btn {
    line-height: 35px;
    cursor: pointer;
    border-radius: 5px;
}

.blue {
    background-color: #1ea0bd;
    border: 1px solid #16758a;
    color: #fff;
}

.full-width {
    width: 100%;
}

.align-center {
    text-align: center;
}