* {
  box-sizing: border-box;
}

body {
    margin: 0;
}

#container {
    display: table;
    width: 100vw;
    height: 100vh;
    background-color: #3f3f3f;
}

#inner {
    display: table-cell;
    vertical-align: middle;
}

#form-wrapper {
    width: 320px;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}

input {
  display: block;
  width: 100%;
  border-radius: px;
}

input[type=email], input[type=password] {
  line-height: 45px;
  margin: 10px 0;
}

.btn {
  cursor: pointer;
  padding: 10px 5px;
}

.btn.green {
  background-color: #4dc94d;
  color: #fff;
  border: 1px solid #2f6f37;
  border-radius: 5px;
  transition: background-color .3s ease-in-out;
}

.btn.green:hover {
  background-color: #2f6f37;
}